*,body,html{
    margin: 0;
    padding: 0;
}

iframe{
    position: absolute;
}
body{
    background: linear-gradient(180deg,#2f6ed3 5%,#5095e4 55%,#5095e4 60%,#2f6ed3 100%);
    background-attachment: fixed;
}
.board-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.board-wraper{
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}
.cell-container{
    width: 100%;
    display: flex;
    height: 130px;
    border-bottom:5px solid rgba( 255, 255, 255, 0.18 );
}

.box{
    border-right: 5px solid rgba( 255, 255, 255, 0.18 );
    width: 130px;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 130px;
}

.box-input{
    border:none;
    width: 130px;
    height: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    font: 40px 'Poppins';
    font-weight: 600;
    background: transparent;
}
.cell-container:nth-last-child(1){
    border-bottom: none; 
}
.box:nth-last-child(1){
    border-right: none; 
}


/* player btn css */
.player-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}
.player-btn{
    width: 170px;
    height: 46px;
    font-family: 'Poppins','Arial',sans-serif;
    font-size: 21px;
    border-radius: 80px;
    border-style: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
    background: #3c7dda;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
}
.celebrate-icon1{
    font-size: 29px;
    opacity: 0;
    margin: 0;
    padding-left: 20px;
    height: 45px;
    width: 113px;
    background: #3c7dda;
    border-radius: 35px;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
}

.celebrate-winbox{
    opacity: 1;
    width: auto;
    font-family: 'Poppins','Arial',sans-serif;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    border:none;
    padding-right: 25px;
    color: white;
    background: #3c7dda;
    border-radius: 35px;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
}
.celebrate-winbox2{
    opacity: 1 !important;
    width: auto  !important;
    font-family: 'Poppins','Arial',sans-serif  !important;
    font-size: 21px  !important;
    font-weight: 600  !important;
    margin: 0  !important;
    border:none;
    padding-right: 25px;
    color: white;
    background: #3c7dda  !important;
    border-radius: 35px  !important;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset  !important;
}
.fa-gamepad{
    padding-right: 10px;
}
.celebrate-winbox3{
    opacity: 1 !important;
    width: auto  !important;
    font-family: 'Poppins','Arial',sans-serif  !important;
    font-size: 21px  !important;
    font-weight: 600  !important;
    margin: 0  !important;
    border:none;
    padding: 0px 122px !important;
    color: #371161;
    background: #ffce03 !important;
    border-radius: 35px  !important;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset  !important;
}
.celebrate-icon3{
    font-size: 29px;
    opacity: 0;
    margin: 0;
    padding-left: 20px;
    height: 45px;
    width: 113px;
    background: #3c7dda;
    border-radius: 35px;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
}
.celebrate-icon2{
    font-size: 29px;
    opacity: 0;
    margin: 0;
    padding-left: 20px;
    height: 45px;
    width: 113px;
    background: #3c7dda;
    border-radius: 35px;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
}
.player-wraper{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player-wraper2{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-btn{
    width: 25%;
    height: 46px;
    font-family: 'Poppins','Arial',sans-serif;
    font-size: 21px;
    border-radius: 80px;
    border-style: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
    z-index: 2;
    background: #dc3545;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
}
/* player btn css */
